#carousel
{
    height:200px;
    width:200px;
    overflow: hidden;
    position:relative;
    margin: 0 auto;
}
#carousel ul
{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    padding:0px;
    margin:0px;
    position: absolute; 
    animation: slide 25s cubic-bezier(0.05, 0.9, 0, 1) infinite;
}
#carousel li
{
    display:flex;
    align-items: center;
    justify-content:center;
    width:200px;
    height: 200px;
}

li:nth-child(1),li:nth-child(6){
    background-color: #ff66ff;
}
li:nth-child(2){
    background-color: #66ff66;
}
li:nth-child(3){
    background-color: #3399ff;
}
li:nth-child(4){
    background-color: #ff9966;
}
li:nth-child(5){
    background-color: #ff3300;
}

@keyframes slide{
    0%{left:0px;}
    20%{left:-200px;}
    40%{left:-400px;}
    60%{left:-600px}
    80%{left:-800px}
    100%{left:-1000px}
}